:root {
  --brand-black: #141414;
  --brand-white: #fff;
  --theme-button-primary: var(--brand-white);
  --theme-button-secondary: var(--brand-black);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

.header-master {
  display: flex;
  height: 44px;
  background-color: var(--brand-black);
}

.header-master .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-master .container .btn {
  background-color: transparent;
}