:root {
  --brand-black: #141414;
  --brand-white: #fff;
  --theme-button-primary: var(--brand-white);
  --theme-button-secondary: var(--brand-black);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--brand-black);
}

.container {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 8px 16px;
  border-radius: 3px;
  background-color: var(--theme-button-primary);
}

.btn.no-bg {
  background-color: transparent;
}

.header-master {
  display: flex;
  height: 44px;
  background-color: var(--brand-black);
}

.header-master .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.featured-movie {
  display: flex;
  height: 180px;
  background-image: 
  linear-gradient(
    180deg, 
    rgba(20, 20, 20, 0) 50%, 
    var(--brand-black) 100%),
  linear-gradient(
    90deg, 
    rgba(0, 0, 0, 0.4) 0%, 
    rgba(0, 0, 0, 0.1) 50%, 
    rgba(0, 0, 0, 0.4) 100%), 
    url(../sample/featured-movie.jpg);
  background-size: cover;
}

.featured-movie .container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 18px;
}

.featured-movie .btn-play {
  color: var(--theme-button-secondary);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.featured-movie .btn-play img {
  margin-right: 8px;
}