:root {
  --brand-black: #141414;
  --brand-white: #fff;
  --theme-button-primary: var(--brand-white);
  --theme-button-secondary: var(--brand-black);
  --theme-button-dark-primary: rgba(55, 55, 55, 0.8);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--brand-black);
}

.container {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: 8px 16px;
  border-radius: 3px;
  background-color: var(--theme-button-primary);
}

.btn,
.btn svg {
  transition: .2s ease-out;
}

.btn.no-bg {
  background-color: transparent;
}

.header-master {
  display: flex;
  height: 44px;
  background-color: var(--brand-black);
}

.header-master .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.featured-movie {
  display: flex;
  height: 180px;
  background-image: 
  linear-gradient(
    180deg, 
    rgba(20, 20, 20, 0) 50%, 
    var(--brand-black) 100%),
  linear-gradient(
    90deg, 
    rgba(0, 0, 0, 0.4) 0%, 
    rgba(0, 0, 0, 0.1) 50%, 
    rgba(0, 0, 0, 0.4) 100%), 
    url(../sample/featured-movie.jpg);
  background-size: cover;
}

.featured-movie .container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 18px;
}

.featured-movie .btn-play {
  color: var(--theme-button-primary);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 38px;
  background-color: var(--theme-button-dark-primary);
}
.featured-movie .btn-play:hover,
.featured-movie .btn-play:focus {
  color: var(--theme-button-secondary);
  background-color: var(--theme-button-primary);
}

.featured-movie .btn-play:hover svg,
.featured-movie .btn-play:focus svg {
  fill: var(--theme-button-secondary);
}

.featured-movie .btn-play svg {
  fill: var(--theme-button-primary);
  margin-right: 8px;
}

.carousel-movies {
  margin-left: 16px;
  margin-bottom: 13px;
}

.carousel-movies .title-section {
  color: var(--brand-white);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
}

.carousel-movies .item a.link-movie img {
  transition: .2s ease-out;
}
.carousel-movies .item a.link-movie:hover img,
.carousel-movies .item a.link-movie:focus img {
  transform: scale(1.05);
}

.player {
  display: flex;
  position: fixed;
  top: 120vh;
  width: 100vw;
  height: 100vh;

  background-color: var(--brand-black);
  z-index: 3;

  transition: .3s;
}
.player #ytplayer {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.player .control {
  display: flex;
  position: absolute;

  top: -50px;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    0deg, 
    rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, .7) 50%,
    var(--brand-black) 100%);
  
  transition: .2s ease-out;
  opacity: 0;
  z-index: 2;
}
.player .control:hover {
  top: 0;
  opacity: 1;
}

.player .control button {
  color: var(--theme-button-primary);
  font-size: 26px;
}

.player .control button svg {
  margin-right: 10px;
}

.owl-carousel {
  position: relative;
  background-color: black;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 70px; 
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.owl-prev {
  left: 5px; 
}

.owl-next {
  right: 1%; 
}

.owl-prev svg,
.owl-next svg {
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  width: 30px;

}

.owl-prev:hover .arrow,
.owl-next:hover .arrow{
  fill: rgb(137, 137, 137);
}

.owl-item {
  margin-right: 10px;
}

@media screen and (min-width: 700px) {
  .featured-movie {
    height: 460px;
  }

  .carousel-movies .title-section {
    font-size: 18px;
  }

  .featured-movie .container {
    max-width: 300px;
    padding-left: 32px;
    padding-bottom: 32px;
  }

  .owl-prev svg,
  .owl-next svg {
    width: 40px;
  }
}

@media screen and (min-width: 980px) {
  .featured-movie {
    height: calc(100vh - 160px);
  }

  .owl-prev svg,
  .owl-next svg {
    width: 60px;
  }

}